option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: py_project.settings
  aws:elasticbeanstalk:container:python:staticfiles:
    /static: www/static/
  aws:elasticbeanstalk:container:python:
    WSGIPath: py_project.wsgi:application
    NumProcesses: 3
    NumThreads: 20

